@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto-slab);
  --font-montserrat: var(--font-montserrat);
  --font-petrona: var(--font-petrona);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), var(--font-roboto-slab),
    var(--font-montserrat), var(--font-petrona), sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  background: black;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #000075;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.spinner {
  animation: rotate 3s linear infinite;
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
